// template(name='chart')
//     +ticker
// template(name='home')
//     .ticker.pointer
//         if skve 'ticker_view' 'small'
//             +small_ticker
//         if skve 'ticker_view' 'med'
//             +mini_chart
//         if skve 'ticker_view' 'large'
//             +symbol_overview
//     .ui.stackable.padded.grid
//         // .four.wide.column
//         //     .ui.header
//         //         |12.4 billion
//         //         +fluent name='peeled-banana'
//         //         | plucked
//         .sixteen.wide.column
//             .ui.inline.header #{counter}
//             .ui.inline.header    
//                 |#{current_group}
//             // .ui.icon.circular.basic.button.add_post
//             //     i.plus.icon
//             if picked_tags
//                 // if many_tags
//                 //     a#clear_tags.ui.black.invert.icon.compact.button.select_term
//                 //         i.remove.icon
//                 each picked_tags
//                     +unselect_tag
//             // .ui.icon.small.input
//             //     i.search.icon
//             //     input.search_group_tag(type='text' value=group_query placeholder="#{counter} results")
//             //     // .ui.label #{this}
//             if result_tags.count
//                 each result_tags
//                     +tag_selector
//             // else
//             //     i.big.grey.loading.yin.yang.icon
//         .twelve.wide.column
//             |sort by
//             if skve 'group_sort_key' 'points'
//                 .ui.circular.black.icon.button.set_sort_points
//                     i.large.thumbs.up.icon
//             else
//                 .ui.circular.basic.icon.button.set_sort_points
//                     i.large.thumbs.up.icon
//             if skve 'group_sort_key' '_timestamp'
//                 .ui.circular.black.icon.button.set_sort_timestamp
//                     i.clock.large.icon
//             else
//                 .ui.circular.basic.icon.button.set_sort_timestamp
//                     i.clock.large.icon
//             if skve 'group_sort_key' 'views'
//                 .ui.circular.black.icon.button.set_sort_views
//                     i.eye.large.icon
//             else
//                 .ui.circular.basic.icon.button.set_sort_views
//                     i.eye.large.icon
//             // .ui.inline.header
//             //     |view
//             // +view_mode key='video' icon='video'
//             // +view_mode key='image' icon='image'
//             // +view_mode key='content' icon='content'
//             if one_post
//                 .ui.one.column.centered.padded.grid.scrolling
//                     each posts
//                         +post_card_med
//             else if two_posts
//                 .ui.two.column.centered.padded.grid.scrolling
//                     each posts
//                         +post_card_med
//             else 
//                 .ui.stackable.two.column.padded.grid.scrolling
//                     if posts.count
//                         each posts
//                             +post_card
//                     else
//                         .ui.basic.center.aligned.segment
//                             i.big.blue.loading.diamond.icon
//         .four.wide.column.scrollin
//             with emotion_avg
//                 // .ui.list
//                 //     .item {{ to_percent avg_sent_score}}% sentiment
//                 //     .item {{ to_percent avg_joy_score}}% joy
//                 //     .item {{ to_percent avg_anger_score}}% anger
//                 //     .item {{ to_percent avg_sadness_score}}% sad
//                 //     .item {{ to_percent avg_disgust_score}}% disgust
//                 //     .item {{ to_percent avg_fear_score}}% fear
//                 if kve 'doc_sentiment_label' 'positive'
//                     span.say.ui.green.text.invert(class="{{calculated_size doc_sentiment_score}}") {{ to_percent doc_sentiment_score }}% #{doc_sentiment_label}
//                         |&nbsp;
//                     div.rounded.invert(style="height:5px;width:{{to_percent doc_sentiment_score}}%;background-color:green" title="{{to_percent doc_sentiment_score}}% #{doc_sentiment_label}")
//                 else if kve 'doc_sentiment_label' 'negative'
//                     span.say.ui.red.text.invert(class="{{calculated_size doc_sentiment_score}}") {{ to_percent doc_sentiment_score }}%  #{doc_sentiment_label} 
//                         |&nbsp;
//                     div.rounded.invert(style="height:5px;width:{{abs_percent doc_sentiment_score}}%;background-color:red" title="{{abs_percent doc_sentiment_score}}% #{doc_sentiment_label}")
                    
//                 .uied.header(class="{{calculated_size avg_sent_score}}") {{ to_percent avg_sent_score }}% sentiment
//                     |&nbsp;
//                 // div.rounded(style="height:5px;width:{{to_percent avg_sent_score}}%;background-color:green" title="{{to_percent avg_sent_score}}% joy")
      
//                 span.say.ui.green.text(class="{{calculated_size avg_joy_score}}") {{ to_percent avg_joy_score }}% joy 
//                     |&nbsp;
//                 div.rounded(style="height:5px;width:{{to_percent avg_joy_score}}%;background-color:green" title="{{to_percent avg_joy_score}}% joy")
//                 //- if above_50 'avg_sadness_score'
//                     //- .spacer
//                 span.say.ui.blue.text(class="{{calculated_size avg_sadness_score}}") {{ to_percent avg_sadness_score}}% sad 
//                     |&nbsp;
//                 div.rounded(style="height:5px;width:{{to_percent avg_sadness_score}}%;background-color:blue" title="{{to_percent avg_sadness_score}}% sad")
//                 //- if above_50 'avg_fear_score'
//                     //- .spacer
//                 span.say.ui.grey.text(class="{{calculated_size avg_fear_score}}") {{ to_percent avg_fear_score }}% fear 
//                     |&nbsp;
//                 div.rounded(style="height:5px;width:{{to_percent avg_fear_score}}%;background-color:grey" title="{{to_percent avg_fear_score}}% fear")
//                 //- if above_50 'avg_disgust_score'
//                     //- .spacer
//                 span.say.ui.orange.text(class="{{calculated_size avg_disgust_score}}") {{ to_percent avg_disgust_score }}% disgust 
//                     |&nbsp;
//                 div.rounded(style="height:5px;width:{{to_percent avg_disgust_score}}%;background-color:orange" title="{{to_percent avg_disgust_score}}% disgust")
//                 //- if above_50 'avg_anger_score'
//                     //- .spacer
//                 span.say.ui.red.text(class="{{calculated_size avg_anger_score}}") {{ to_percent avg_anger_score }}% anger 
//                     |&nbsp;
//                 div.rounded(style="height:5px;width:{{to_percent avg_anger_score}}%;background-color:red" title="{{to_percent avg_anger_score}}% anger")
        
//             i.big.clock.grey.icon(title='when tags')
//             if picked_time_tags
//                 each picked_time_tags
//                     a.unselect_time_tag.ui.active.large.compact.button(href='#')
//                         strong #{this}
//             each time_tag_results
//                 a.ui.basic.large.label.zoomer.select_time_tag(title="#{count} results" class="#{selector_class} #{thinking_class}")
//                     strong #{name}
//             div
//             i.big.smile.grey.icon(title='where tags')
//             if picked_emotion
//                 each picked_emotion
//                     a.unpick_emotion.ui.active.large.compact.button(href='#')
//                         strong #{this}
//             each emotion_results
//                 if name
//                     a.ui.basic.large.label.zoomer.pick_emotion(title="#{count} results" class="#{selector_class} #{thinking_class}")
//                         strong #{name}
//             div
//             div
//             i.big.marker.grey.icon(title='where tags')
//             if picked_location_tags
//                 each picked_location_tags
//                     a.unselect_location_tag.ui.active.large.compact.button(href='#')
//                         strong #{this}
//             each location_tags
//                 a.ui.basic.large.label.zoomer.select_location_tag(title="#{count} results" class="#{selector_class} #{thinking_class}")
//                     strong #{name}
//             div
//             i.big.users.grey.icon(title='where tags')
//             if picked_people_tags
//                 each picked_people_tags
//                     a.unselect_people_tag.ui.active.large.compact.button(href='#')
//                         strong #{this}
//             each people_tags
//                 a.ui.basic.large.label.zoomer.pick_people_tag(title="#{count} results" class="#{selector_class} #{thinking_class}")
//                     strong #{name}
//             div
//             i.big.plus.grey.icon(title='where tags')
//             if picked_timestamp_tags
//                 each picked_timestamp_tags
//                     a.unpick_timestamp_tag.ui.active.large.compact.button(href='#')
//                         strong #{this}
//             each timestamp_tag_results
//                 a.ui.basic.large.label.zoomer.pick_timestamp_tag(title="#{count} results" class="#{selector_class} #{thinking_class}")
//                     strong #{name}
//             .ui.hidden.divider

            

         
template(name='floor')                    
    iframe(width='100%' height='800' src="https://gmefloor.com/" frameborder='0' allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')
                    