template(name='ibig')    
    //- img.ui.image(src="https://img.icons8.com/dusk/256/000000/#{name}.png" class=cl)
    //- img.ui.image(src="https://img.icons8.com/cotton/256/000000/#{name}.png" class=cl)
    //- img.ui.image(src="https://img.icons8.com/office/256/000000/#{name}.png" class=cl)
    //- img.ui.image(src="https://img.icons8.com/plasticine/256/000000/#{name}.png" class=cl)
    //- img.ui.image(src="https://img.icons8.com/color/256/000000/#{name}.png" class=cl)
    //- img.ui.image(src="https://img.icons8.com/ios/256/000000/#{name}.png" class=cl)
template(name='icon')    
    i.icon(class=name)
    // img.ui.image(src="https://img.icons8.com/color/48/000000/#{name}.png" class=cl)
    // img.ui.image(src="https://img.icons8.com/plasticine/48/000000/#{name}.png" class=cl)
    // img.ui.image(src="https://img.icons8.com/ios/48/000000/#{name}.png" class=cl)
    // img.ui.image(src="https://img.icons8.com/color/48/000000/#{name}.png" class=cl)
    //- img.ui.image(src="https://img.icons8.com/fluent/48/000000/#{name}.png" class=cl)
    // img.ui.image(src="https://img.icons8.com/cotton/48/000000/#{name}.png" class=cl)
    //- img.ui.image(src="https://img.icons8.com/office/48/000000/#{name}.png" class=cl)

template(name='user_button')
    a.ui.button(href="/user/#{username}")
        img.ui.avatar.compact.image(src="{{c.url profile_image_id height=200 width=200 gravity='face' crop='fill'}}")
        |#{name}


template(name='print_this')
    .ui.icon.basic.button.print_this
        i.orange.code.icon

template(name='session_boolean_toggle')
    .ui.compact.button.toggle_session_key(class=calculated_class)
        +icolor name=icon cl='ui avatar image'
        |#{label}
        //- if icon_view 
        //- else 
            if label
                |#{label}
            else 
                |#{value}
template(name='session_edit_value_button')
    .ui.button.set_session_value(class=calculated_class)
        if icon_view 
            i.icon(class=icon)
        else 
            if label
                |#{label}
            else 
                |#{value}

template(name='session_toggle_button')
    .ui.compact.icon.button.toggle(class=session_toggle_button_class title=title)
        i.large.icon(class=icon)



template(name='month_selector')
    +key_value_edit key='month' value='jan'
    +key_value_edit key='month' value='feb'
    +key_value_edit key='month' value='mar'
    +key_value_edit key='month' value='april'
    +key_value_edit key='month' value='may'
    +key_value_edit key='month' value='jun'
    +key_value_edit key='month' value='jul'
    +key_value_edit key='month' value='aug'
    +key_value_edit key='month' value='sep'
    +key_value_edit key='month' value='oct'
    +key_value_edit key='month' value='nov'
    +key_value_edit key='month' value='dec'



template(name='color')
    img(src="https://img.icons8.com/color/48/000000/#{name}.png")


template(name='toggle_edit')
    .ui.basic.button.toggle_edit
        i.pencil.icon

template(name='user_list_info')
    a.ui.basic.button.item(href="/user/#{user.username}/view")
        img.ui.avatar.image(src=user.profile.profilePic title=name)
        |#{user.profile.name}
        +user_status user


template(name='view_full_button')
    a.ui.icon.basic.button(href="/view/#{_id}" data-tooltip='View Full')
        i.double.icon
        |view

template(name='user_status')
    if online 
        // .ui.label(class='{{labelClass}}') 
        .ui.empty.label(title='online')
        // img.ui.avatar.image(src="https://img.icons8.com/connection-user_status-on/color/48" title='Online' width="48" height="48")
        // |Online
    else if idle
        .ui.empty.yellow.label(title='idle')
        // .ui.label(class='{{labelClass}}') Idle
    // else 
    //     |Offline

// template(name='user_card')
//     with user
//         .ui.small.horizontal.card
//             .image
//                 img.ui.rounded.mini.image(src="{{c.url profile_image_id width=300 height=300 gravity='face' crop='fill'}}")
//             .content    
//                 a.header(href="/user/#{username}") #{first_name} #{last_name} 
//                 //- .meta @#{username}
//                 strong $#{credit}
//                 small credit
//                 //- +emails_edit    
//         //- +user_status user


template(name='small_horizontal_user_card')
    with user
        .ui.small.horizontal.card
            .image
                if profile_photo
                    img.ui.rounded.tiny.image(src="{{c.url profile_photo width=200 height=200 gravity='face' crop='fill'}}")
                else if image_id
                    img.ui.rounded.image(src="{{c.url image_id width=300 height=300 gravity='face' crop='fill'}}")
                else if image_id
                    img.ui.rounded.image(src="{{c.url image_id width=300 height=300 gravity='face' crop='fill'}}")
            .content    
                a.header(href="/student/#{username}") #{first_initial} #{last_name} 
                //- .meta @#{username}
                //- span(title='points')
                //-     |#{points} pts
                //- span(title='points')
                //-     |#{points} 
                //-     i.yin.yang.icon
                each tags
                    .ui.small.basic.label #{this}
                if is_admin
                    div
                    +user_email
                //- +emails_edit    
        +user_status user


template(name='user_email')
    .ui.small.inline.header #{email_address}
    if email_verified
        .ui.basic.label 
            i.checkmark.icon
            |verified
    else
        .ui.label 
            i.ban.icon
            |unverified
        

template(name='big_user_card')
    with user
        //- .ui.card
        //- .ui.card(class=student_status_class)
        .ui.card
            .image
                img.ui.rounded.image(src="{{c.url image_id width=300 height=300 gravity='face' crop='fill'}}")
            .content
                a.header(href="/user/#{username}")
                     |#{first_name} #{last_name} 
                    //- .meta @#{username}
                    //- +array_view key='tags' label='Tags' direct=true


template(name='user_info')
    a.ui.compact.basic.circular.button(href="/user/#{user.username}/")
        if user.profile_image_id
            img.ui.avatar.image(src="{{c.url user.profile_image_id width=300 height=300 gravity='face' crop='fill'}}")
        //- .visible.content
        |#{user.shortname}
        // |@#{user.username}
        // +user_status user

template(name='user_info_small')
    a(href="/user/#{user.username}/")
        if user.profile_image_id
            img.ui.avatar.image(src="{{c.url user.profile_image_id width=300 height=300 gravity='face' crop='fill'}}" title=name)
        else
            i.circular.user.outline.icon(title=user.name)

template(name='user_info_tiny')
    a(href="/user/#{user.username}/")
        // if user.profile_image_id
        //     img.ui.avatar.image(src="{{c.url user.profile_image_id width=300 height=300 gravity='face' crop='fill'}}" title=name)
        // else
        //     i.circular.user.outline.icon(title=user.name)
        .ui.basic.tiny.label #{user.shortname}


template(name='creation_info')
    .ui.small.inline.header #{when}


template(name='remove_button')
    .ui.icon.button.remove_doc(title='delete')
        i.remove.icon
        // |delete

template(name='remove_icon')
    i.remove.link.icon.remove_doc(title='delete')


template(name='toggle_button')
    .ui.icon.toggle.basic.button(title=label)
        i.icon(class=icon)
    each selected
        |#{username}


template(name='view_user_button')
    .view_user.view(title="view #{username}")
        i.play.icon
        |View

template(name='add_model_button')
    .ui.icon.basic.button.add(title="add #{model}")
        i.plus.icon
        |#{model}






template(name='key_value_edit')
    a.ui.compact.large.circular.button.set_key_value(class=set_key_value_class title=value href='#')
        if icon
            // +icon name=icon cl='ui avatar image'
            i.icon(class=icon)
        unless icon_only
            if label
                |#{label}
            else 
                |#{value}
        
template(name='user_key_value_edit')
    .ui.compact.button.set_key_value(class=set_key_value_class)
        if icon 
            i.icon(class=icon)
        if label
            |#{label}
        else 
            |#{value}


template(name='session_key_value')
    .ui.button.set_session_value(class=button_class) 
        if icon 
            i.icon(class=icon)
        if label
            |#{label}
        else 
            |#{value}
